@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
}

body {
    background-color: #FCF4D9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* NAVBAR */
nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DC6B19;
    z-index: 4;
    box-shadow: 7px 10px 10px #bd6b30cc;

}

nav img {
    transform: scale(1.5);
    object-fit: cover;
    height: 75px;
    width: 150px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 55px;
}

nav ul li a {
    text-decoration: none;
    color: #FCF4D9;
    font-size: 1.2em;
}

nav .nav-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

nav .nav-buttons button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100px;
}

.signup-btn {
    background-color: #6C0345;
    color: #FCF4D9;
    letter-spacing: 1px;
    font-weight: bold;
}

.login-btn {
    background-color: #6C0345;
    color: #FCF4D9;
    letter-spacing: 1px;
    font-weight: bold;
}

.signup-btn:hover {
    background-color: #FCF4D9;
    color: #6C0345;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #FCF4D9;
    color: #6C0345;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
}

.logout {
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    background-color: #6C0345;
    color: #FCF4D9;
    border-radius: 10px;
}

.logout:hover {
    background-color: #FCF4D9;
    color: #6C0345;
}

.addpet-btn {
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    background-color: #6C0345;
    color: #FCF4D9;
    border-radius: 10px;
}

.addpet-btn:hover {
    background-color: #FCF4D9;
    color: #6C0345;
}

/* PANEL 1 */

.panel1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    margin-top: 70px;
    transform: scale(0.95);
}

.welcome-pic h1 {
    font-size: 6.7em;
    margin: 35px 0 0 40px;
    color: #DC6B19;
    font-family: 'League Spartan', sans-serif;
}

.welcome-pic img {
    width: fit-content;
    height: 420px;
    position: absolute;
    transform: scale(1.65);
    margin-top: -40px;
    overflow: hidden;
}

.join-us {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 23px;
    margin: 320px 0 0 120px;
    color: #DC6B19;
    transform: scale(1.1);
}

.join-us h1 {
    font-size: 36px;
}

.join-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.join-buttons button {
    background-color: #DC6B19;
    color: #FCF4D9;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100px;
}

.join-buttons p {
    font-weight: bold;
}

/* PANEL 2 */

.panel2 {
    background-image: url('paw-background.jpg');
    background-color: #F6C465;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    padding: 60px;
    box-shadow: 0.5rem 0.5rem 0.5rem black, -0.5rem -0.5rem -0.5rem #a37621;
}

.aboutus-desc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 40px;
    gap: 30px;
}

.aboutus-desc h1{
    font-size: 36px;
}

.aboutus-pic img {
    width: 550px;
    border-radius: 20px;
    box-shadow: 7px 5px 12px #DC6B19;
    transform: translateX(30px) translateY(10px);
}

/* PANEL 3 */

.panel3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
}

.panel3 h1 {
    font-size: 48px;
    color: #DC6B19;
}

.lovecat-rect {
    display: flex;
    display: row;
    gap: 35px;
}

.lovecat-catpics {
    display: flex;
    padding: 25px;
    flex-direction: column;
    background-color: #DC6B19;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 7px 5px 12px #522404;
}

.image-container {
    height: 60%;
    background-color: #F6C465;
    border-radius: 100%;
}

.lovecat-catpics img {
    height: 100%;
    width: 275px;
}

.lovecat-catpics p {
    margin-top: 25px;
    text-align: center;
    color: #FCF4D9;
}

/* FOOTER */

footer {
    background-color: #6C0345;
    padding: 40px;
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    color: #FCF4D9;
}

.logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-footer img {
    margin: 15px;
    object-fit: cover;
    height: 70px;
    width: 350px;
}

.site-links {
    display: flex;  
    flex-direction: column;
    gap: 10px;
}

.links {
    display: flex;  
    flex-direction: row;
    gap: 40px;
}

.right-footer {
    display: flex;
    gap: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: #FCF4D9;
}

footer a {
    text-decoration: none;
    color: #FCF4D9;
    margin-top: 10px;
}

.footer-joinus {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

/* LOGIN */

.login-container {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    position: absolute;
    display: flex;
    padding: 25px;
    flex-direction: column;
    width: 500px;
    background-color: #FCF4D9;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 10px 5px 30px #813b08;
    color: #DC6B19;
}

.login-container h2 {
    font-size: 48px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-container form input {
    width: 400px;
    padding: 10px;
    border: solid 1px rgba(151, 148, 148, 0.322);
    border-radius: 20px;
}

.login-container button {
    width: 400px;
    padding: 10px;
    background-color: #DC6B19;
    color: #FCF4D9;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #6C0345;
}

.login-container p {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.login-container p a {
    color: #DC6B19;
    text-decoration: underline;
    cursor: pointer;
}

.loginPopup {
    top: 50%;
    transform: translate(-50%, -35%);
}

.blur {
    filter: blur(40px);
}

/* REGISTRATION */

.signup-container {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    position: absolute;
    display: flex;
    padding: 25px;
    flex-direction: column;
    width: 500px;
    background-color: #FCF4D9;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 10px 5px 30px #813b08;
    color: #DC6B19;
}

.signup-container h2 {
    font-size: 48px;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-container form input {
    width: 400px;
    padding: 10px;
    border: solid 1px rgba(151, 148, 148, 0.322);
    border-radius: 20px;
}

.signup-container button {
    width: 400px;
    padding: 10px;
    background-color: #DC6B19;
    color: #FCF4D9;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #6C0345;
}

.signup-container p {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.signup-container p a {
    color: #DC6B19;
}

.signupPopup {
    top: 50%;
    transform: translate(-50%, -35%);
}

/* ADMIN PAGE */

.welcome {
    margin: 120px 0 0 50px;
}

.welcome h1 {
    color: #DC6B19;
}

.admin-container {
    width: 97%;
    background-color: #dc6a1933;
    margin: 10px;
    padding: 5px;
}

.table-buttons {
    margin: 20px 0 0 350px;
}

.table-buttons button {
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: #FCF4D9;
    cursor: pointer;
    box-shadow: 10px 5px 20px #813b08;
}

.table-buttons button:hover {
    background-color: #FCF4D9;
    color: #DC6B19;
}

.table-user-btn {
    width: 30%;
    background-color: #DC6B19;
}

.table-feed-btn {
    margin-left: 25px;
    width: 30%;
    background-color: #DC6B19;
}

.tables {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TABLE FOR REGISTERED USERS */
.user-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
}

.tables .user-table thead tr {
    background-color: #DC6B19;
    color: #FCF4D9;
    text-align: left;
    font-weight: bold;
}

.tables .user-table th,
.tables .user-table td {
    padding: 12px 15px;
}

.tables .user-table tbody tr {
    border-bottom: 2px solid #dddddd;
}

.tables .user-table tbody tr:nth-of-type(even) {
    background-color: #F6C465;
}

.tables .user-table tbody tr:last-of-type {
    border-bottom: 2px solid #813b08;
}

.tables .user-table tbody tr td a {
    text-decoration: none;
    background-color: #6C0345;
    padding: 7px;
    border-radius: 10px;
    color: #FCF4D9;
    margin: 3px;
}

.tables .user-table tbody tr td a:hover {
    background-color: #DC6B19;
}

.show-user-table {
    visibility: hidden;
}

/*TABLE FOR FURFOLIO FEED */

.feed-table {
    margin-top: -80px;
    visibility: hidden;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
}

.tables .feed-table thead tr {
    background-color: #DC6B19;
    color: #FCF4D9;
    text-align: left;
    font-weight: bold;
}

.tables .feed-table th,
.tables .feed-table td {
    padding: 12px 15px;
}

.tables .feed-table tbody tr {
    border-bottom: 2px solid #dddddd;
}

.tables .feed-table tbody tr:nth-of-type(even) {
    background-color: #F6C465;
}

.tables .feed-table tbody tr:last-of-type {
    border-bottom: 2px solid #813b08;
}

.tables .feed-table tbody tr td a {
    text-decoration: none;
    background-color: #6C0345;
    padding: 7px;
    border-radius: 10px;
    color: #FCF4D9;
    margin: 3px;
    cursor: pointer;
}

.tables .feed-table tbody tr td a:hover {
    background-color: #DC6B19;
}

.show-feed-table {
    visibility: visible;
}

.popup-message h2{
    color: #DC6B19;
    transform: translate(37%);
}

/* POPUP ENTRY */

.popup-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 560px;
    height: 560px;
    background: #FCF4D9;
    border-radius: 20px;
    position: absolute;
    transform: translate(70%, 20%);
    padding: 10px;
    box-shadow: 10px 5px 30px #813b08;
    visibility: hidden;
}

.popup-entry h2 {
    margin-top: 10px;
    color: #DC6B19;
}

.popup-entry form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}
.input-entry {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
}

.input-entry1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.separator {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.popup-entry .input-entry1 input {
    width: 230px;
    background-color: #F6C465;
    border: none;
    border-radius: 10px;
    padding: 7px;
}

.popup-entry .input-entry input {
    width: 480px;
    background-color: #F6C465;
    border: none;
    border-radius: 10px;
    padding: 7px;
}

.popup-entry .input-entry textarea {
    width: 480px;
    background-color: #F6C465;
    border: none;
    border-radius: 10px;
    padding: 7px;
    
}

.popup-entry label {
    color: #DC6B19;
    font-weight: bold;
}

.popup-entry .submit-btn {
    width: 480px;
    background-color: #6C0345;
    color: #FCF4D9;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.popup-entry .close-btn {
    width: 480px;
    background-color: #6C0345;
    color: #FCF4D9;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: -10px;
    cursor: pointer;
}

.popup-entry .close-btn:hover,
.popup-entry .submit-btn:hover {
    background-color: #DC6B19;
}

.openPopup {
    visibility: visible;
}

/* POP UP MESSAGES */

.pop-msg {
    visibility: hidden;
}

/* POP-UP CONFIRM */

.confirm-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    top: 45%;
    left: 40%;
    width: 275px;
    padding: 25px;
    gap: 10px;
    background-color: #FCF4D9;
    visibility: hidden;
}

.confirm-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
}

.confirm-anchors {
    width: 70px;
    text-align: center;
}

.show-confirm-popup {
    visibility: visible;
}


